<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
     <link rel="stylesheet" href="Login.css">
</head>
<body></body>

  <div>

  <h1 class="BigText"><u>Seja bem vindo de volta</u></h1>

  <h2 class="Text">Ao seu site de jogos divertidos  <b>totalmente</b>  relevantes para sua segurança digital</h2>


</div>


    <div class="Main2">

    <div class="login-container">

    <h2>Login</h2>

    <form id="loginConfia">

      <input type="text" placeholder="Username or Email" required>

      <input type="password" placeholder="Password" required> <!--  -->

      <button class="centerThing" type="submit"><a href="/public/CoolGames.html">Login</a></button> <!-- Login doesn't actually work for now, so just stick with it -->

    </form>

    <div class="signup-link">
      

      <p>Não possui uma conta ? Crie uma aqui <a href="/SignUp">Sign up</a></p>
    </div>

  </div>

  </div>

 


    
</body>
</html>