<!DOCTYPE html>
<html>
<head>
  <title>Sign Up</title>
  <link rel="stylesheet" href="/SignUp.css">
</head>
<body>
 <div class="sign-container">


    <h2>Criar uma conta</h2>
    <form>


      <input type="text" name="username" placeholder="Username" required />

      <input type="email" name="email" placeholder="Email required" />

      <input type= "password" name="password" placeholder="Senha" required />

      <input type="password" name="confirm_password" placeholder="Confirmar senha" required />


      <button type="submit">Sign Up</button>


    </form> <!--I am going insane-->
    <div class="login-link">
      Já possui uma conta? Ou acabou de criar uma? <a href="/Login">Click aqui para voltar ao Login</a>
    </div>
  </div>
</body>
</html>